body{
	margin:0px;
}

#banniere{
	border-bottom: solid black;
	position:relative;
	height:100px;
	background-color: #afd9ee;

}

#logo{
	width:8vw;
	height:auto;
	position:absolute;
	top:1vw;
	left:4vw;
}

#nomJeu{
	position:absolute;
	left:18vw;
	top:1.6vw;
	color:black;
	font-weight:bold;
	font-size:5vw;



}
#deconnexion{

	position:absolute;
	width:7vw;
	height:2vw;
	border-radius:8vw;
	font-size:1vw;
	text-align: center;
	text-decoration: none;
	padding:0.15vw;
	border:0.1vw dashed gray;

	bottom:4.5vw;
	right:6vw;

}

#nomUtilisateur{

	position:absolute;
	width:7vw;
	height:2vw;

	font-size:2vw;
	top:2.8vw;
	right:15vw;

}

#listeBouttons{
	vertical-align:middle;
	position:relative;
	border:0.05vw solid gray;
	padding:1vw;
	margin:4vw 35vw;
	text-align:center;

}


.boutton{
	color:red;
	border:0.05vw solid gray;

}

/*Style pour la page commande*/

.CommandesTitre{
	text-align: center;
}

.Commandes{
	border : solid black 1px;
	padding : 5px;
	margin : 10px;
	text-align : center;
}

#formCommandes{
	text-align : center;
	margin : 20px;
}

/*Style pour la page profil */

#profilConnexion{
	text-align : center;

}

#profilPersonnage{
	left : 13px;
	width : 60%;
	top : 10%;
}

#profilBtn{
	right : 13px;
	width : 35%;
	top : 10%;

}

#profilHistorique{
	left: 13px;
	width : 60%;
	bottom : 10%;

}

#profilStats{
	right:13px;
	width : 35%;
	bottom : 10%;

}


.profil{
	text-align : center;
	display : inline-block;
	position : absolute;
	height : 38%;


	border: solid black 1px;

}