body{
	margin:0px;
}

#banniere{
	border-bottom: solid black;
	position:relative;
	height:100px;
	background-color: #afd9ee;

}

#logo{
	width:8vw;
	height:auto;
	position:absolute;
	top:1vw;
	left:4vw;
}

#nomJeu{
	position:absolute;
	left:18vw;
	top:1.6vw;
	color:black;
	font-weight:bold;
	font-size:5vw;


}
#deconnexion{

	position:absolute;
	width:7vw;
	height:2vw;
	border-radius:8vw;
	font-size:1vw;
	text-align: center;
	text-decoration: none;
	padding:0.15vw;
	border:0.1vw dashed gray;

	bottom:4.5vw;
	right:6vw;

}

#nomUtilisateur{

	position:absolute;
	width:7vw;
	height:2vw;

	font-size:2vw;
	top:2.8vw;
	right:15vw;

}

#listeBouttons{
	vertical-align:middle;
	position:relative;
	border:0.05vw solid gray;
	padding:1vw;
	margin:4vw 35vw;
	text-align:center;

}


.boutton{
	color:red;
	border:0.05vw solid gray;

}

/*Style pour la page commande*/

.Commandes{
	text-align : center;
	display : inline-block;
	position : absolute;
	height : 37%;
	border: outset black 2px;
	border-radius : 10px;
}

#formCommandes{
	right : 13px;
	width : 35%;
	top : 40%;
	vertical-align : center;
	text-align : center;
}

#commandesPacman{
	left : 13px;
	width : 60%;
	top : 18%;

}

#commandesFantome{
	left: 13px;
	width : 60%;
	bottom : 5%;

}


/*Style pour la page profil */

#profilConnexion{
	text-align : center;

}

#profilPersonnage{
	left : 13px;
	width : 60%;
	top : 18%;
	text-align:left
}

#profilBtn{
	right : 13px;
	width : 35%;
	top : 18%;
	vertical-align : center;
	text-align : center;

}

#profilHistorique{
	left: 13px;
	width : 60%;
	bottom : 5%;

}

#profilStats{
	right:13px;
	width : 35%;
	bottom : 5%;

}


.profil{
	text-align : center;
	display : inline-block;
	position : absolute;
	height : 37%;
	border: outset black 2px;
	border-radius : 10px;
}

.profilTitre{
	border-bottom : dashed black 2px;
	margin-left : 10px;
	margin-right : 10px;
	padding-bottom : 10px;
	text-align:center;


}


.historique{
	border-bottom : dotted grey 1px;
	border-top : dotted grey 1px;
	margin-bottom : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-left : 10px;
	margin-right : 10px;
	background-color : lightgrey;

}

#currentColor{
	position : absolute;
	width : 20%;
	border : solid black 1px;
	margin-left:10%;;
}

.vu{
	position : relative;
	border:solid black 1px;
	left : 42%;
	margin-right : 7%;
	width : 9%;

}



/*style pour la page Classement */

#classementGeneral{
	left : 13px;
	width : 60%;
	top : 18%;
}

#classementBtn{
	right : 13px;
	width : 35%;
	top : 18%;
	vertical-align : center;
}

#classementPacman{
	left: 13px;
	width : 47.5%;
	bottom : 5%;
}

#classementFantomes{
	right:13px;
	width : 47.5%;
	bottom : 5%;
}

.classement{
	text-align : center;
	display : inline-block;
	position : absolute;
	height : 38%;
	border: outset black 2px;
	border-radius : 10px;
}